@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


:root{
    --dangerous: #fc4541;
    --error: #f7b932;
    --suscess: #39b74b;
    --green:#27ae60;
    --dark-color:#219150;
    --yellow-dark: #fc9e09;
    --white-dark: rgb(230, 230, 230);
    --purple-light: #6367ea;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

p{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message{
    background-color: var(--dangerous);
    padding: .4rem;
    text-align: center;
    color: white;
    border-radius: 8px;
    margin-bottom: .5rem;
    margin-top: 1rem;
    display: none;
}

/* Add company form */
.add-company-form{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}

.add-company-form.active{
    right: 0;
}

.add-company-form form{
    background:#fff;
    border: var(--border);
    width:50rem;
    max-height: 90%;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem;
    overflow-y: auto;
}

.add-company-form form .form-control{
    border: var(--border);
    padding: .5rem .7rem;
}

.add-company-form form .form-control:focus{
    border-color: var(--green);
    box-shadow: var(--box-shadow);
}

.add-company-form form span{
    display: block;
    font-size: 15px;
    padding-top: 1rem;
}

.add-company-form form .form-message{
    padding-top: 0;
}

form .box:focus{
    border-color: green;
}

.add-company-form form .invalid .form-control{
    border-color: red;
}
.invalid .form-message{
    color: red;
}

.add-company-form #close-add-company-btn{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 3rem;
    color:var(--black);
    cursor: pointer;
}




.update-form form .row{
    padding: 0 3rem 1rem;
}

.update-form form .form-control{
    border: var(--border);
    padding: .5rem .7rem;
}

.update-form form .form-control:focus{
    border-color: var(--green);
    box-shadow: var(--box-shadow);
}

.update-form form span{
    display: block;
    font-size: 15px;
    padding-top: 1rem;
}

.update-form form .form-message{
    padding-top: 0;
}

form .box:focus{
    border-color: green;
}

.update-form form .invalid .form-control{
    border-color: red;
}
.invalid .form-message{
    color: red;
}


